In [1]:
# loop through all the files in ouptut directory and create dataframes for them
import pandas as pd
import os

# get the current working directory
cwd = os.getcwd()
# get the output directory
output_dir = os.path.join(cwd, 'output')
# get the list of files in the output directory
files = os.listdir(output_dir)

dfs = {}

# loop through the files and create dataframes
for file in files:
    # get the file path
    file_path = os.path.join(output_dir, file)
    # read the file
    df = pd.read_csv(file_path)
    # append the dataframe to the list
    dfs[file] = df

    # print the first 5 rows of the dataframe
    print(df.head())
    print('\n\n')

   bus_id            timestamp      load stop  time_on_route  time_waiting  \
0    4895  2024-10-31 14:24:00  0.179104  NaN              0             0
1    4895  2024-10-31 14:24:31  0.179104  NaN            885             0
2    4895  2024-10-31 14:25:01  0.179104  NaN            855             0
3    4895  2024-10-31 14:25:32  0.179104  NaN            824             0
4    4895  2024-10-31 14:26:02  0.179104  NaN            794             0

   time_to_complete
0                 0
1               122
2                92
3                61
4                31



   bus_id            timestamp      load                  stop  time_on_route  \
0   13216  2024-10-31 14:24:00  0.000000                   NaN              0
1   13216  2024-10-31 14:24:31  0.000000                   NaN            885
2   13216  2024-10-31 14:25:01  0.000000                   NaN            855
3   13216  2024-10-31 14:25:32  0.044776  Busch Student Center            824
4   13216  2024-10-31 14:26:02  0.044776  Busch Student Center            794

   time_waiting  time_to_complete
0             0                 0
1             0                61
2             0                31
3           122                 0
4            92                 0



   bus_id            timestamp      load stop  time_on_route  time_waiting  \
0    4873  2024-10-31 14:24:00  0.119403  NaN              0             0
1    4873  2024-10-31 14:24:31  0.119403  NaN            396             0
2    4873  2024-10-31 14:25:01  0.119403  NaN            366             0
3    4873  2024-10-31 14:25:32  0.119403  NaN            335             0
4    4873  2024-10-31 14:26:02  0.119403  NaN            305             0

   time_to_complete
0                 0
1               274
2               244
3               213
4               183



   bus_id            timestamp      load              stop  time_on_route  \
0   15188  2024-10-31 14:24:00  0.029851               NaN              0
1   15188  2024-10-31 14:24:31  0.029851               NaN             61
2   15188  2024-10-31 14:25:01  0.029851               NaN             31
3   15188  2024-10-31 14:25:32  0.029851  Hill Center (NB)              0
4   15188  2024-10-31 14:26:02  0.000000  Hill Center (NB)              0

   time_waiting  time_to_complete
0             0                 0
1             0                61
2             0                31
3            61                 0
4            31                 0



   bus_id            timestamp  load stop  time_on_route  time_waiting  \
0    4870  2024-10-31 14:24:00   0.0  NaN              0             0
1    4870  2024-10-31 14:24:31   0.0  NaN             30             0
2    4870  2024-10-31 14:25:01   0.0  NaN              0             0
3    4870  2024-11-05 13:04:00   0.0  NaN           1368             0
4    4870  2024-11-05 13:04:32   0.0  NaN           1336             0

   time_to_complete
0                 0
1                30
2                 0
3                65
4                33



   bus_id            timestamp      load                            stop  \
0    4872  2024-10-31 14:24:00  0.149254  Student Activities Center (NB)
1    4872  2024-10-31 14:24:31  0.149254                             NaN
2    4872  2024-10-31 14:25:01  0.149254                             NaN
3    4872  2024-10-31 14:25:32  0.149254                             NaN
4    4872  2024-10-31 14:26:02  0.149254                             NaN

   time_on_route  time_waiting  time_to_complete
0              0             0                 0
1           1985             0               305
2           1955             0               275
3           1924             0               244
4           1894             0               214



   bus_id            timestamp      load                     stop  \
0    4881  2024-10-31 14:24:00  0.283582                      NaN
1    4881  2024-10-31 14:24:31  0.283582                      NaN
2    4881  2024-10-31 14:25:01  0.283582                      NaN
3    4881  2024-10-31 14:25:32  0.238806  Allison Road Classrooms
4    4881  2024-10-31 14:26:02  0.343284  Allison Road Classrooms

   time_on_route  time_waiting  time_to_complete
0              0             0                 0
1           1649             0                61
2           1619             0                31
3           1588            61                 0
4           1558            31                 0



   bus_id            timestamp  load   stop  time_on_route  time_waiting  \
0    4855  2024-10-31 14:24:00   0.0  Quads              0             0
1    4855  2024-10-31 14:24:31   0.0  Quads           2291           122
2    4855  2024-10-31 14:25:01   0.0  Quads           2261            92
3    4855  2024-10-31 14:25:32   0.0  Quads           2230            61
4    4855  2024-10-31 14:26:02   0.0  Quads           2200            31

   time_to_complete
0                 0
1                 0
2                 0
3                 0
4                 0



   bus_id            timestamp      load          stop  time_on_route  \
0   17624  2024-10-31 14:24:00  0.029412           NaN              0
1   17624  2024-10-31 14:24:31  0.029412           NaN           1313
2   17624  2024-10-31 14:25:01  0.000000  Red Oak Lane           1283
3   17624  2024-10-31 14:25:32  0.000000  Red Oak Lane           1252
4   17624  2024-10-31 14:26:02  0.000000  Red Oak Lane           1222

   time_waiting  time_to_complete
0             0                 0
1             0                30
2           244                 0
3           213                 0
4           183                 0



   bus_id            timestamp      load          stop  time_on_route  \
0    4890  2024-10-31 14:24:00  0.328358  Red Oak Lane              0
1    4890  2024-10-31 14:24:31  0.328358  Red Oak Lane           1435
2    4890  2024-10-31 14:25:01  0.313433  Red Oak Lane           1405
3    4890  2024-10-31 14:25:32  0.253731  Red Oak Lane           1374
4    4890  2024-10-31 14:26:02  0.179104  Red Oak Lane           1344

   time_waiting  time_to_complete
0             0                 0
1           244                 0
2           214                 0
3           183                 0
4           153                 0



   bus_id            timestamp      load                           stop  \
0   18021  2024-11-02 08:14:13  0.000000  College Avenue Student Center
1   18021  2024-11-02 08:14:45  0.000000  College Avenue Student Center
2   18021  2024-11-02 08:15:16  0.000000  College Avenue Student Center
3   18021  2024-11-02 08:15:47  0.000000  College Avenue Student Center
4   18021  2024-11-02 08:16:19  0.018868  College Avenue Student Center

   time_on_route  time_waiting  time_to_complete
0              0             0                 0
1              0           188                 0
2              0           157                 0
3              0           126                 0
4              0            94                 0



   bus_id            timestamp  load                           stop  \
0   18018  2024-11-02 08:14:13   0.0  College Avenue Student Center
1   18018  2024-11-02 08:14:45   0.0                            NaN
2   18018  2024-11-02 08:15:16   0.0                            NaN
3   18018  2024-11-02 08:15:47   0.0                       The Yard
4   18018  2024-11-02 08:16:19   0.0                       The Yard

   time_on_route  time_waiting  time_to_complete
0              0             0                 0
1           2670             0                62
2           2639             0                31
3           2608            95                 0
4           2576            63                 0

In [2]:
route = list(dfs.keys())[0]
dfs[route].head(100)

,bus_id,timestamp,load,stop,time_on_route,time_waiting,time_to_complete
0,4895,2024-10-31 14:24:00,0.179104,NaN,0,0,0
1,4895,2024-10-31 14:24:31,0.179104,NaN,885,0,122
2,4895,2024-10-31 14:25:01,0.179104,NaN,855,0,92
3,4895,2024-10-31 14:25:32,0.179104,NaN,824,0,61
4,4895,2024-10-31 14:26:02,0.179104,NaN,794,0,31
...,...,...,...,...,...,...,...
95,4895,2024-10-31 15:12:23,0.358209,Science Building,244,91,0
96,4895,2024-10-31 15:12:53,0.313433,Science Building,214,61,0
97,4895,2024-10-31 15:13:24,0.462687,Science Building,183,30,0
98,4895,2024-10-31 15:13:54,0.462687,NaN,153,0,153
99,4895,2024-10-31 15:14:25,0.462687,NaN,122,0,122

In [3]:
dfs[route]['bus_id'].unique()

array([ 4895,  4885,  4839, 13210, 15189,  4856,  4893,  4864,  4872,
       11204, 18014,  4870,  4863,  4891,  4859,  4877,  7179,  4874,
       17626,  4862], dtype=int64)